:root {
  --off-white: #fafafa;
}
body {
  background-color: #3B3E40;
  overflow: hidden
}


#cloud {
  height: 50px;
  width: auto;
  position: fixed;
  bottom: 0;
  left: -18vw;
  z-index: 100;
}

p, h1, .continue {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  z-index: 10;
  opacity: 1;
  font-size: 2vw;
}

.title {
  font-size: 3vw;
}

.weatherText {
  font-size: 1vw;
}

#weatherBox {
  padding: 1.5vw;
  position: fixed;
  background-color: gray;
  width: auto;
  height: auto;
  margin-left: 75px;
  bottom: 2vh;
  opacity: 0.8;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  z-index:100
}

.section-dark {
  background: #333;
  color: rgb(236, 236, 238);
}

img {
  width: 62.5%;
  margin-left: 18.75%;
  height: auto;
}

.center {
  text-align: center
}

.continue {
  border: 1px white solid;
  color: black;
  background-color: white;
  margin-left: 35%;
  width: 30%;
  text-align: center;
  text-shadow: none
}

.continue:hover {
  color: white;
  background: none;
  cursor: pointer;
  text-decoration: none;
  text-shadow: none
}

.section-content {
  width: 100vw;
  height: 100vh;
  padding-bottom: 150vh;
}

h1 {
  position: relative;
}

.after {
  content: "";
  opacity: 0.15;
  padding-top: 0;
  margin-top: 0;
  height:100vh;
  width: 100vw;
  position: absolute; 
  z-index:0;
  pointer-events: none;
}

.Calendar {
  margin-left: 28.5vw;
  width: 40vw
}

.width70 {
  width: 70vw;
  margin-left: 15vw
}

.verticalCenter {
  position: absolute;
  margin-top: 20vh;
}

@media screen and (max-height: 400px)
{
  .verticalCenter {
    margin-top: 10vh;
  }
  
  p, h1, .continue {
    font-size: 5vh;
  }

  .title {
    font-size: 7vh;
  }

  .weatherText {
    font-size: 5vh;
  }
}


