:root {
  --off-white: #fafafa;
}
body {
  overflow: hidden;
  background-color: #3B3E40
}


#cloud {
  height: 50px;
  width: auto;
  position: fixed;
  bottom: 0;
  left: -18vw
}

p, h1, .continue {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  z-index: 10;
  opacity: 1;
}

.continue {
  z-index: 100
}

p {
  font-size: 1.7em;
}

.nav-logo {
  height: 60px;
  width: 60px;
}

.nav-logo:hover {
  cursor: pointer;
}

#weatherBox {
  padding: 0.5vw;
  position: fixed;
  background-color: gray;
  width: auto;
  height: 90px;
  margin-left: 75px;
  bottom: 2vh;
  opacity: 0.8;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav .nav-content {
  float: right;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

.section-dark {
  background: #333;
  color: rgb(236, 236, 238);
}

img {
  width: 62.5%;
  margin-left: 18.75%;
  height: auto;
}

.center {
  text-align: center
}

.continue {
  border: 1px white solid;
  color: black;
  background-color: white;
  width: 20%;
  margin-left: 40%;
  font-size: 3vh;
  text-align: center;
  text-shadow: none
}

.continue:hover {
  color: white;
  background: none;
  cursor: pointer;
  text-decoration: none;
  text-shadow: none
}

.section-content {
  width: 100vw;
  height: 90vh;
  padding-top: none;
  padding-bottom: 1400px;
}

h1 {
  position: relative;
}

.after {
  content: "";
  opacity: 0.15;
  padding-top: 0;
  margin-top: 0;
  height:100%;
  width: 100vw;
  position: absolute; 
  z-index:0;
  pointer-events: none;
}

.Calendar {
  margin-left: 28.5vw;
  width: 40vw
}

.width70 {
  width: 70vw;
  margin-left: 15vw
}

.verticalCenter {
  position: absolute;
  margin-top: 20vh;
}